.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.logo {
    width: 85px;
}

.nolink {
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center;
}

.login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    align-items: flex-start;
}