.footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    padding: 1rem 1rem 1rem 1rem;
}

.subfooter {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.nolink{
    text-decoration: none;
}