* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Exocet;
  src: url("../src/assets/films.EXL_____.ttf");
}

@font-face {
  font-family: Exocet;
  src: url("../src/assets/films.EXH_____.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Ringbearer;
  src: url("../src/assets/RINGM___.TTF");
}
